@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* variaveis */
:root{
    --rosa-color: #ec89c7;
    --rosa-hover-color: #da62ae;
    --verde-color: #d7f9f2;
    --branco-color: #fff;
    --grayishBlue: #a3a5ae;
    --varyDarkBlue: #4c4e61;
    --weight3: 600;
}

/* reset css */
* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline: 0;
}
html,
body{
    height: 100vh;
    background: var(--branco-color);
    font-family: 'Poppins', sans-serif;
}

/* configurando header */
header .container{
    background: var(--verde-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    
}

header img {
    width: 180px;
    margin-left: 20px;
    padding: 15px 0;
}

header nav ul {
    display: flex;
    gap: 15px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--rosa-color);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    padding: 24px;
    transition: all 250ms linear 0s;
}

header nav ul li a:hover {
    color: var(--rosa-hover-color);

}

/* configurando buttom-aula*/
.buttom-aula{
    background-color: var(--rosa-hover-color);
    border-radius: 10px;
    color: white;
}
.buttom-aula:hover{
    background-color: var(--branco-color);
}

/* configurando hover after nav*/
.menu-item{
    position: relative;
    text-decoration: none;
    letter-spacing: 0.5px;
    padding: 0 10px;
    display: flex;
}
.menu-item:after{
    content: "";
    position: absolute;
    background-color: var(--rosa-color);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.menu-item:hover:after{
    width: 100%;
}

/*Configurando hero */
section .container-hero{
    background-image: url(../img/banner-principal.jpg);
    background-size: cover;
    height: 90vh;
    width: 100%;
    display: flex;    
    align-items: center;
}

section .texto-imagem{
    font-size: 96pt;
    font-family: 'Poppins', sans-serif; 
    font-weight: 700; 
    color: #ffffff;  
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*Configurando títulos/sub */
section .container-titulos{
    padding: 40px 0px;
}
section .titulo, .subtitulo{
    display: flex;
    justify-content: center;
}
section .titulo{
    color: var(--rosa-color);
    font-size: 28pt;   
}
section .subtitulo{
    position: relative;
    font-size: 12pt;
    font-weight: 400;
    line-height: 10px;
}
section .subtitulo:after{
    content: "";
    position: absolute;
    background-color: var(--rosa-color);
    height: 3px;
    width: 100px;
    bottom: -15px;
    transition: 0.5s;
}

/*Configurando apresentacao */
section .container-apresentacao-imagens-texto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
section .texto-apresentacao{
    text-align: justify;
    width: 40%;
    font-size: 16pt;
    margin: 0px 20px;
}
section .imagem-apresentacao{
    background-image: url(../img/fundo-rosa.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}

/*Configurando nossas especialidades */
section .container-card1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
section .container-card2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box {
    width: 20%;
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px; 
}
.box p {
    color: var(--grayishBlue);
}
.cor-borda {
    border-top: 3px solid var(--rosa-color);
}
.img-cards{
    width: 100%;
    height: 50%;
    border-radius: 10px;
}
.titulo-card {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
    font-size: 16pt;
    text-align: center;
}
.texto-card{
    text-align: justify;
}

/*Configurando contato */
.contato{
    margin-top: 30px;
    padding-bottom: 40px;
    background-color: var(--verde-color);
}
.container-contato{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.bloco-contato{
    width: 30%;
    padding: 0px 50px;
}
.titulo-contato{
    font-size: 18pt;
    color: var(--rosa-color);
}
.bloco-mapa{
    box-shadow: 0px 30px 40px -10px var(--grayishBlue);
}
.bloco-dados-contato{
    display: flex;
    flex-direction: column; 
    gap: 5px;  
    padding: 10px 0px; 
}
.dados-contato{
    font-size: 11pt;
    font-weight: 300;
    display: flex;
    align-items: center;
}
.icons-contato{
    font-size: 28px;
    color: var(--rosa-color);
    padding: 0px 5px;
}
.titulo-social{
    font-size: 16pt;
    color: var(--rosa-color);
}
.bloco-social{
    display: flex;
    flex-direction: column;
}
.botao-contato{
    background: var(--rosa-color);
    width: 290px;    
    border: none;
    font-size: 13pt;
    border-radius: 15px;
    color: var(--branco-color);
    text-align: center;
    padding: 18px;
    margin-top: 10px;
}
.botao-contato:hover{
    background: var(--branco-color);
    text-decoration: none;
    color: var(--rosa-color);
    transition: 0.5s;
}

/*Configurando rodape */
.bloco-rodape{
    text-align: center;
    padding: 50px;
}

.rodape-imagem{
    width: 30%;
}
.copy{
    padding: 10px 0px;
    background: #222222;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 10pt;
    text-align: center;
}
.desenvolvedor{
    color: #ffffff;
}
